.item {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-auto-flow: row;
}

.greenArea {
  background-color: #93D08C;
  width: 80vw;
  height: 60vh;
  margin-left: 10vw;
  margin-top: 20vh;
  margin-bottom: 20vh;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}


.selected {
  /* border: blue;
  border-width: 2;
  border-style: solid; */
  /* stroke-width: 5px;
  stroke: blue; */

  outline-color: rgb(0, 0, 255);;
  outline-style: solid;
  outline-width: 5px;
  outline-offset: -5px;
  cursor: grab;
}

/* .electrode:hover {
  fill-opacity: 1.0;
} */