.item {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-auto-flow: row;
}

.greenArea {
  background-color: #93D08C;
  width: 100%;
  height: 100%;
  background-size: 40px 40px; /* ELEC_SIZE */
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.electrode {
  cursor: pointer;
}

.selected {
  stroke-width: 3px;
  stroke: blue;

  cursor: grab;
}